<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PERSONELTRACKINGConnectionString"
            connectionString="Data Source=.;Initial Catalog=PERSONELTRACKING;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>